<div class="nav" *ngIf="!isAuthenticated">
    <img src="../assets/logo.png" alt="image" id="img-logo" />
    <ul id="nav-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Documentation</a></li>
    </ul>
  </div>
  
  <app-playground-header *ngIf="isAuthenticated">


  </app-playground-header>

  <!-- <div class="nav">
    <img src="../assets/logo.png" alt="image" id="img-logo" />
    <ul id="nav-menu">
      <li><a href="#">Home</a></li>
      <li><a href="#">Documentation</a></li>
    </ul>
  </div> -->
