<div class="bg-gradient-to-b from-indigo-900 to-black h-full">
    <div class="flex p-10">
        <div class="w-64 h-96 bg-[#191741]  rounded-lg p-4 shadow-lg overflow-y-auto">
            <!-- Sidebar content here -->
            <div class="p-4">
              <!-- Sidebar header -->
              <h2 class="text-xl font-semibold mb-4">Sidebar</h2>
              
              <!-- Sidebar items -->
              <ul>
                <li class="mb-2"><a href="#" class="text-blue-500 hover:underline">Item 1</a></li>
                <li class="mb-2"><a href="#" class="text-blue-500 hover:underline">Item 2</a></li>
                <li class="mb-2"><a href="#" class="text-blue-500 hover:underline">Item 3</a></li>
                <!-- Add more sidebar items as needed -->
              </ul>
            </div>
          </div>
          
        
        <!-- Right container (products) -->
        <div class="w-3/4 pl-20">
            <div class="grid grid-cols-3 gap-12 w-160 h-120">
                <!-- Card 1 -->
                <!-- <div onclick="Enterprise()" class="cursor-pointer"> -->
                <div class="bg-white p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer" (click) = "enterprise()">
                    
                  <!-- Card content -->
                  <div class="relative mx-1 mt-1 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-50 transition duration-300 ease-in-out transform hover:scale-105">
                    <img src="assets/doc_processing.jpg" alt="profile-picture" />
                  </div>
                  <h1 class="mt-2 text-center">Enterprise Expert</h1>
                </div>
                  
                  
              
                <!-- Card 2 -->
                <div class="bg-white p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer" (click)="audio()">
                    <!-- <div onclick="redirectToOtherPage()" class="cursor-pointer"> -->
                  <!-- Card content -->
                  <div class="relative mx-1 mt-1 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-50 transition duration-300 ease-in-out transform hover:scale-105">
                    <img src="assets/audio_processing.png" alt="">
                  </div>
                <!-- </div> -->
                    <h1 class="mt-2 text-center">Audio Analytics</h1>
                    
                </div>
              
                <!-- Card 3 -->
                <div class="bg-white p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer" (click)="image()">
                    <!-- <div onclick="redirectToOtherPage()" class="cursor-pointer"> -->
                  <!-- Card content -->
                  <div class="relative mx-1 mt-1 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-50 transition duration-300 ease-in-out transform hover:scale-105">
                  <img src="assets/image_processing.jpg" alt="image">
                </div>
                    <!-- </div> -->
                  <h1 class="mt-2 text-center">Image Processing</h1>
                  
                </div>
              
                <!-- Card 4 -->
                <div class="bg-white p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer" (click)="video()">
                    <!-- <div onclick="redirectToOtherPage()" class="cursor-pointer"> -->
                  <!-- Card content -->
                  <div class="relative mx-1 mt-1 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-50 transition duration-300 ease-in-out transform hover:scale-105">
                    <img src="assets/video_processing.jpg" alt="">
                    
                  </div>
                <!-- </div> -->
                  <h1 class="mt-2 text-center">Video Analytics</h1>

                  
                </div>
              
                <!-- Card 5 -->
                <!-- <a href="#" class="block bg-white p-4 rounded-lg shadow-md transition duration-300 transform hover:scale-105"> -->
                
                <div class="bg-white p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer" (click)="ecommerce()">
                    <!-- <div onclick="redirectToOtherPage()" class="cursor-pointer"> -->
                        <!-- Card content -->
                  <!-- Card content -->
                  <div class="relative mx-1 mt-1 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-50 transition duration-300 ease-in-out transform hover:scale-105">
            
                    <img src="assets/product_reccommendation.jpg" alt="">
                  </div>
                    <!-- </div> -->
                  <h1 class="mt-2 text-center">E-Commerce Recommendation</h1>
                
                
                </div>
               
            
                <!-- </a> -->
              
                <!-- Card 6 -->
                <div class="bg-white p-4 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 cursor-pointer" (click)="code()">
                    <!-- <div onclick="redirectToOtherPage()" class="cursor-pointer"> -->
                  <!-- Card content -->
                  <div class="relative mx-1 mt-1 overflow-hidden text-gray-700 bg-white shadow-lg bg-clip-border rounded-xl h-50 transition duration-300 ease-in-out transform hover:scale-105">
                    <img src="assets/code_generation.jpg" alt="">
                  </div>
                    <!-- </div> -->
                  <h1 class="mt-2 text-center">Code Generation</h1>
                  
                </div>
              </div>
              
        </div>
    </div>
    
    
</div>
