<div class="d-flex flex-column justify-content-center align-items-center" *ngIf="loading && isvalid" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%;  z-index: 9999;">
  <div class="text-center">
    <div class="spinner-grow text-white" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>&nbsp;
    <div class="spinner-grow text-white" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>&nbsp;
    <div class="spinner-grow text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>&nbsp;
    <div class="spinner-grow text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>&nbsp;
    <div class="spinner-grow text-dark" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
    </div>
  </div>
<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h1 class="heading-section">Welcome to Cessna LifeLine Ai Portal</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="wrap d-md-flex">
          <div
            class="img"
            style="background-image: url(assets/img/c2.webp)"
          ></div>
          <div class="login-wrap p-4 p-md-5"  style="min-height: 400px">
            <div style="text-align: center">
              <img
                src="assets/img/cessna_logo1.jpeg"
                style="max-height: 100px"
              />
            </div>
            <div class="d-flex" *ngIf="!loading">
              <div class="w-100">
                <h3 class="mb-4">Sign In</h3>
              </div>
            </div>

            <form
              [formGroup]="loginForm"
              (ngSubmit)="login(loginForm.value)"
              class="signin-form"
            >
              <div class="form-group mb-3">
                <label class="label" for="name">Phone Number</label>
                <input
                  formControlName="userName"
                  type="text"
                  class="form-control"
                  placeholder="Phone Number"
                  required
                />
                <div *ngIf="submitted && loginForm.controls.userName.errors">
                  <div style="color:red" *ngIf="loginForm.controls.userName.errors.required">
                    Phone Number is Mandatory Field
                    </div>
                    <div style="color:red" *ngIf="loginForm.controls.userName.errors.minlength">
                      Invalid Phone Number (Do Not add Country Code)
                      </div>
                      <div style="color:red" *ngIf="loginForm.controls.userName.errors.maxlength">
                        Invalid Phone Number (Do Not add Country Code)
                        </div>
              </div>
              

             
              
              </div>
              <div class="form-group mb-3">
                <label class="label" for="password">Password</label>
                <input
                  formControlName="password"
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  required
                />
                <div *ngIf="submitted && loginForm.controls.password.errors">
                  <div style="color:red" *ngIf="loginForm.controls.password.errors.required">
                    Password is a Mandatory Field
                    </div>
              </div>
              </div>
              <div class="form-group">
                <button
                  type="submit"
              
                 
                  class="form-control btn btn-primary rounded submit px-3"
                >
        
                  Sign In
                </button>
                <div style="color: red;" *ngIf="submitted && serviceError!=''">
                  {{serviceError}}
                </div>
                 
                   
                 
              </div>
              <!-- <div class="form-group d-md-flex">
                <div class="w-50 text-left">
                  <label class="checkbox-wrap checkbox-primary mb-0"
                    >Remember Me
                    <input type="checkbox" checked />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="w-50 text-md-right">
                  <a href="#">Forgot Password</a>
                </div>
              </div> -->
            </form>
            <p *ngIf="logginError != ''"  >
              {{ logginError }}
            </p>
            <!-- <p class="text-center">
              Not a member? <a data-toggle="tab" href="#signup">Sign Up</a>
            </p> -->
          </div>
        </div>
        <p class="p-1" style="color: rgb(111, 101, 79)">
          Copyright © 2024-2025 SetNextGen Technologies Private Limited
        </p>
      </div>
    </div>
  </div>
</section>
