<div class="main">
    <div class="row px-5 py-5">
        <div class="col-sm-3 card template-card" style="margin-left:4%;margin-right:4%;">
            <div >
                <img class="img-landing-card" src="assets/call_center.png" alt="profile-picture" />
            </div>
            <h3 class="mt-2 text-center">Call Center Dashboard</h3>
        </div>
        <div class="col-sm-3 card template-card" style="margin-left:4%;margin-right:4%;">
            <div >
                <img class="img-landing-card" src="assets/appointment.png" alt="profile-picture" />
            </div>
            <h3 class="mt-2 text-center">Appointments</h3>
        </div>
        <div class="col-sm-3 card template-card" style="margin-left:4%;margin-right:4%;">
            <div >
                <img class="img-landing-card" src="assets/medical_history.png" alt="profile-picture" />
            </div>
            <h3 class="mt-2 text-center">History - Patient History</h3>
        </div>
        <div class="col-sm-3 card template-card" style="margin-left:4%;margin-right:4%;" (click)="gotoIAM()">
            <div >
                <img class="img-landing-card" src="assets/iam.png" alt="profile-picture" />
            </div>
            <h3 class="mt-2 text-center">IAM</h3>
        </div>
        <div class="col-sm-3 card template-card" style="margin-left:4%;margin-right:4%;">
            <div >
                <img class="img-landing-card" src="assets/coming_soon.jpg" alt="profile-picture" />
            </div>
            <h3 class="mt-2 text-center">My Activity</h3>
        </div>
        <div class="col-sm-3 card template-card" style="margin-left:4%;margin-right:4%;">
            <div >
                <img class="img-landing-card" src="assets/coming_soon.jpg" alt="profile-picture" />
            </div>
            <h3 class="mt-2 text-center">Issues/Followups</h3>
        </div>
    </div>
</div>
    
