.callgrid-top {
    background-color:F9EDED; 
    padding: 20px;
  }

  .callgrid-top { 
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  
  .gui-button-toggle .gui-button {
    margin: 16px 16px 24px 0
}











